/* Styles for the weather app. */

body {
  margin: 50px auto;
  background-image: url('/images/weather.png');
  background-size: cover;
}

.center {
  text-align: center;
}

.weather_icon {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border: none;
}

.result .description {
  font-size: 22px;
  line-height: normal;
}

#location {
  display: none;
}

#description #forecastResults{
  display: none;
}